body {
	overflow-x: hidden;
	max-width: 100%;
	margin: 0;
}
h3,p,h5 {
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
	
}
header {
	padding: 1.4em 0 0.4em 0;
    text-align: center;
    box-shadow: 0px 4px 10px -6px rgb(89 89 89 / 64%);
}
.fleche {
	position: absolute;
	left: 1.5em;
    top: 1.6em;
}
.logo {
	align-items : center ;
	width : 200px;
}
.logofooter {
	align-items: center;
	width: 150px;
	filter: invert(100%);
}
.images {
	height: 70vw;
}
.imgmenu {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: #353535;
	color: white;
	padding: 20px 0 20px 20px;
}
.iconheart,
.restofooter {
	display: inline-flex;
}
.lanote {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	border-top-right-radius: 20px ;
	border-top-left-radius: 20px ;
	margin-top: -50px;
}
.container {
	background-size: cover;
  background-position: center center;
  align-items: center;
  position: relative;
	height: 100%;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	display: flex;
}
.heartresto {
  	display: inline-block;
  	font-style: normal;
  	position: relative;
  	margin-top: 20px;
  	margin-right: 20px;
}
.iconresto .fas {
	position: relative;
}
.heartresto .fas {
	opacity: 0;
}
.heartresto .fas:hover  {
 	background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   display: initial;
   opacity: 1;
}
.heartresto .fas,
.heartresto .far {
	position: absolute;
	font-size: 1.5em;
}
.iconresto {
  	display: inline-block;
  	font-style: normal;
  	position: relative;
  	font-size: 1em;
}
.restopart {
	display: flex;
	width: 86.5%;
}
.lanoteenchantee {
	display: flex;
	width: 100%;
}
.entreelanote,
.platlanote,
.dessertlanote {
	border: 1px solid;
	border-radius: 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	height: 80px;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	margin: 10px 0 10px 0;
	display: flex;
	align-items: space-between;
}
.entrees,
.plats,
.desserts {
	width: 86.5%;
	height: auto;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	transform: translateY(0);
}
.entrees {
	animation: deplacement 700ms both ease-in-out;
}
.plats {
	animation: deplacement 700ms 400ms both ease-in-out;
}
.desserts {
	animation: deplacement 700ms 800ms both ease-in-out;
}
@keyframes deplacement {
	0% {
    	opacity: 0;
    	transform: translateY(10px);
	}
	100% {
    	opacity: 1;
    	transform: translateY(0);
	}
}
.desserts {
	margin-bottom: 20px;
}
p {
	display: inline-block;
}
h2 {
	font-size: 1em;
}
.line {
	width: 70px;
    display: block;
    margin: 0;
    background-color: #99E2D0;
    height: 3px;
}
.price {
    font-weight: bold;
    justify-content: flex-end;
    display: flex;
    margin: 0;
    padding-top: 26px;
}
.searchbutton {
	height: 45px;
	border-radius: 20px;
	font-size: 1em;
	width: 220px;
	color: white;
	margin: 0;
	background: linear-gradient(#FF79DA, #9356DC);
}
.searchbutton:hover {
	opacity: 0.9;
}
.text {
	margin: 0;
    padding: 0.5em 0 1em 0.7em;
    overflow: hidden;
    width: 100%;
    flex-wrap: nowrap;
    font-size: 14px;
}
.rotate {
	right: -30px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: transparent;
}
.rotate i{
	right: 0p;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: transparent;
}


.entreelanote:hover .rotate {
	right: 0;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 19%;
	height: 4vw;
	margin-left: 10px;
	transition: transform 400ms ease-in-out;

}
.entreelanote:hover .rotate i {
	right: 0;
    color: white;
    transform: rotate(360deg);
    transition: 400ms 100ms ease-in-out;

}

.platlanote:hover .rotate {
	right: 0;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 19%;
	height: 4vw;
	margin-left: 10px;
	transition: transform 400ms ease-in-out;
}
.platlanote:hover .rotate i {
	right: 0;
    color: white;
    transform: rotate(360deg);
    transition: 400ms 100ms ease-in-out;
}

.dessertlanote:hover .rotate {
	right: 0;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 19%;
	height: 4vw;
	margin-left: 10px;
	transition: transform 400ms ease-in-out;
}
.dessertlanote:hover .rotate i {
	right: 0;
    color: white;
    transform: rotate(360deg);
    transition: 400ms 100ms ease-in-out;
}

@media screen and (min-width: 768px) {
	.images {
		height: 40vw;
	}
	.restopart,
	.entrees,
	.plats,
	.desserts {
		width: 65%;
	}
	.lanote {
		width: 60%;
	}

}
@media screen and (min-width: 1200px) {
	.images {
		height: 30vw;
	}
	.restopart,
	.entrees,
	.plats,
	.desserts {
		width: 40%;
	}
}

