body {
	max-width: 100%;
	margin: 0;
}

h4,p,h5 {
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
	
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear ;
  animation: spin 2s linear ;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  pointer-events: none;
  animation-fill-mode:backwards;
  animation-iteration-count: 1;
  animation-duration: 5000ms;
  display: flex;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  from { opacity:1; }
  to { opacity:0; }
}
header,
section,
footer,
.search,
.container {
	animation-name: spin-anim;
	animation-delay: 10s;
}
@-webkit-keyframes spin-anim {
  from { opacity: 0; }
  to { opacity:1; }
}

@keyframes spin-anim {
  from { opacity:0; }
  to { opacity:1; }
}
.logo {
	align-items : center ;
	width : 200px;
}
.logofooter {
	align-items: center;
	width: 150px;
	filter: invert(100%);
}
header {
	text-align: center;
	display: flex;
	justify-content: center;
}
.search {
	align-items : center ;
	display : flex ;
	justify-content : center ;
	width : 100% ;
	background-color : #eaeaea;
	color : black ;
}
.nosrestaurants {
	width : 100% ;
	height: 100%;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	text-align: center;
	padding-bottom: 20px;
}
.searchbutton {
	height: 45px;
	border-radius: 20px;
	font-size: 1.5em;
	width: 220px;
	color: white;
	font-size: 1em;
	margin: 0;
	background: linear-gradient(#FF79DA, #9356DC);
	margin-top: 20px;
}
.searchfield {
	background-color: #eaeaea;
	border-color: transparent;
	color: black;
}
.icontextfilters {
  font-weight: bold;
  margin-bottom: 1.5vmax;
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
  border-left: none;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 60px;
  width: 30%;
  display: flex;
  position: relative;
  color: #7e7e7e;
}
h2 {
	text-align: center;
}

.number {
	border: 1px solid;
	border-radius: 50%;
	padding: 2px 7px 2px 7px;
	background-color: #9356DC;
	color: white;
	left: -0.7em;
  top: 1em;
  position: absolute;
  margin-right: 1em;
}
.fonctionresto {
	display: inline-flex;
	margin-right: 1em;
}
.category-head {
	align-items: center;
  flex-direction: column;
  display: flex;
}
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding-top: 20px;
	background-color: #353535;
	color: white;
	padding-left: 20px;
	margin: 0;
}
.iconresto,
.restofooter {
	display: inline-flex;
}
.heartresto {
  	display: inline-block;
  	font-style: normal;
  	position: relative;
  	margin-right: 20px;
}
.iconresto .fas {
	position: relative;
}
.heartresto .fas {
	opacity: 0;
}
.heartresto .fas:hover  {
 	background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   display: initial;
   opacity: 1;
}
.heartresto .fas,
.heartresto .far {
	position: absolute;
	font-size: 1.5em;
}

.iconresto {
  display: inline-block;
  font-style: normal;
  position: relative;
  font-size: 1em;
}
.container {
	color: #000000;
	font-size: 20px;
	background-color: #F2F2F2;
	width: 100%;
	height: 100%;
}
#restaurants {
	text-align: center;
}
.restosection {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
.boxresto {
	border: 1px solid;
	border-radius: 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	width: 32%;
	padding: 5px;
	height: 35%;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	margin: 10px 25px 25px 0;
}
.fonctionresto i {
	color: #7e7e7e;
}
.imgresto {
	width: 100%;
	height: 250px;
	object-fit: cover;
	padding-bottom: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.restopart {
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
	padding-top: 5px;
}
.proposer,
.partenaire,
.mentions,
.contact,
h5,
.iconresto i {
	margin: 0;
}
.contact {
	padding-bottom: 20px;
}
